@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
}

body {
  @apply bg-gray-50 text-gray-900 font-sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn-shadow {
  box-shadow: 0 6px 18px rgba(16,24,40,0.08);
}

.login-grain-overlay {
  background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuBpmSirvAk4FClJpWJqIaYkaoAUbSf82CU75As2O3gEOn_OYcqumD04J-bZv-SxqQBqdp1rdHW4eXSx3aXacDCu4bnVzXlpa40LFUhzmWTviLyrwaVZvpHfJdoIV4prtLWs3YfMsUsH1fqRrAYYuu4ibDr7DsUR6sjf-qtsHoIeiCrHhAKH-ADaID3o5_iSccLSWWK1OPXiYdUk8jnhJj4oOSaVl9LjrmnsQ14OzjhnnlRGzdkaTGxRN5fAumdtaxqntTDYBqcP6KXY");
  filter: contrast(150%) brightness(1000%);
  opacity: 0.05;
  pointer-events: none;
}

.login-scanline {
  width: 100%;
  height: 1px;
  background: rgba(0, 230, 57, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  animation: login-scan 8s linear infinite;
  z-index: 5;
}

@keyframes login-scan {
  0% {
    top: 0;
  }
  100% {
    top: 100%;
  }
}

.login-skew-panel {
  clip-path: polygon(0 0, 100% 0, 92% 100%, 0% 100%);
}

.login-brutalist-shadow {
  box-shadow: 8px 8px 0 0 rgba(0, 230, 57, 1);
}

.login-btn-hover-shift:hover:not(:disabled) {
  transform: translate(-4px, -4px);
  box-shadow: 6px 6px 0 0 #002203;
}

.login-text-distressed {
  text-shadow: 1px 1px 0 rgba(0, 230, 57, 0.3);
}
